body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input[type=text] {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete {
    background: red;
    color: white;
    padding: 4px 8px;
}
